<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--log4net配置章节定义-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!--log4net详细配置-->
  <log4net>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\LogError\\"/>
      <appendToFile value="true"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5GB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n＝＝＝＝＝＝＝＝＝＝
%n【日志级别】%-5level
%n【记录时间】%date
%n【错误描述】%message%
"/>
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\LogInfo\\"/>
      <appendToFile value="true"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5GB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n＝＝＝＝＝＝＝＝＝＝
%n【日志级别】%-5level
%n【记录时间】%date
%n【信息描述】%message%
"/>
      </layout>
    </appender>
    <logger name="errorLogger">
      <level value="All"/>
      <appender-ref ref="errorAppender"/>
    </logger>
    <logger name="infoLogger">
      <level value="All"/>
      <appender-ref ref="infoAppender"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="IsFullScreen" value="false"/>
    <!--三维控件渲染类型，0为使用D3d，1为使用OpenGL-->
    <add key="RenderType" value="1"/>
    <add key="MultiTouch" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LogInfo" value="true"/>
    <add key="LogError" value="true"/>
    <!--等待页面标题-->
    <add key="SplashWindowTittle" value=""/>
    <!--arcgis路径服务-->
    <add key="RouteService" value="http://win-irpporej2jv:6080/arcgis/rest/services/YinChuan831/NAServer/%E8%B7%AF%E5%BE%84/solve"/>
    <!--<add key="SocketIP" value="10.197.7.20"/>-->
    <!--是否模拟发送移动警车警员消息-->
    <add key="SendSocket" value="true"/>
    <add key="ShowLocalVideo" value="true"/>
    <add key="SocketIP" value="127.0.0.1"/>
    <add key="SocketPort" value="10100"/>
    <add key="poiSize" value="32"/>
    <add key="poiHighlightSize" value="40"/>
    <add key="user" value="yc_zh_yhtx3d"/>
    <add key="pswd" value="yc_zh_yhtx3d"/>
    <add key="EnableCacheData" value="true"/>
    <add key="LicenseServerIP" value="192.168.1.124"/>
    <add key="LicenseServerPort" value="8321"/>
    <add key="LicenseServerPwd" value="xxxx"/>
    <add key="Language" value="zh-CN"/>
    <add key="CurrentVersion" value="1.6.1"/>
    <add key="OriginCamera" value="120.87456;30.82260;250;-1.37;-37.57;4.96"/>
    <add key="LeftViewWidth" value="363"/>
    <!--默认关闭大气效果，防止与dom影像色彩融合-->
    <add key="EnableAtmosphere" value="false"/>

    <!--<add key="OriginCamera" value="119.769056;31.326680;250;-1.37;-37.57;4.96"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;libs;libs\DX;libs\citymaker;modules">
      </probing>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NAServerBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.19:6080/arcgis/services/RoadNet/MapServer/NAServer" binding="basicHttpBinding" bindingConfiguration="NAServerBinding" contract="RoadServiceReference.NAServerPort" name="NAServerPort"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
